* {
  box-sizing: border-box;
}

body {
  background-color: #F3F7FA;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts");
  src: url("/fonts/opensans.woff") format("font-woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensanssemibold.woff");
  src: url("/fonts/opensanssemibold.woff") format("font-woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/opensansbold.woff");
  src: url("/fonts/opensansbold.woff") format("font-woff");
  font-weight: 700;
  font-style: normal;
}
